<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <% if (locals.headerText) { %>
    <div><%= headerText %></div>
    <div id="inputHeaderParams">
      <% } %> <% if (locals.headerParams) { %> <% for (let i =1; i <= headerParams ; i++ ) { %>
      <ul>
        parameter <%= i %>:
        <input class="form-control" id="headerParam<%=i %>" type="text" />
      </ul>
    </div>
    <% } %> <% } %> <% if (locals.urlNeeded) { %>
    <div><%= headerType %> URL <input id="<%= headerType %>Url" class="form-control" placeholder="https://mymedia.url" type="text" /></div>
    <% } %>
  </body>
</html>
